<footer class="pt-5 pb-5 text-center">
   <div class="footer__black d-flex d-md-none  w-100 position-fixed justify-content-around" >
      <a href="index.html">
         <div class="footer__black__item footer__home">
         </div>
      </a>
      <a href="products.html">
         <div class="footer__black__item footer__products">
         </div>
      </a>
      <a href="my_basket.html">
         <div class="footer__black__item footer__basket">
         </div>
      </a>
      <a href="contacts.html">
         <div class="footer__black__item footer__geo ">
         </div>
      </a>
   </div>
   <div class="container">
      <div class="full  footer d-none d-md-flex  ">
         <ul class="footer_menus full justify-content-between">
            <li>
               <a href="index.html" class="footer_logo">
               <img src="https://azergold.gift/assets/images/footer_logo.png" alt="" title="">
               </a>
            </li>
            <li><a href="about.html" class="footer__text">Haqqımızda</a> </li>
            <li><a href="/contacts.html"  class="footer__text">Əlaqə</a> </li>
            <li>
               <p class="footer__text footer__copyright pb-3 pb-lg-2">© 2020. azergold.gift</p>
            </li>
         </ul>
      </div>
   </div>
</footer>
<!-- build:js -->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="{{root}}assets/vendor/js/popper.js"></script>
<script src="{{root}}assets/vendor/js/bootstrap.js"></script>
<script src="{{root}}assets/js/util/autoPadding.js"></script>
<script src="{{root}}assets/js/util/crossPlatform.js"></script>
<script src="{{root}}assets/js/main.js"></script>
<!-- endbuild -->