<span class="body__pattern body__pattern_left position-fixed h-1  h-100 "></span>
<span class="body__pattern body__pattern_right position-fixed h-1  h-100 "></span>
<div class="container">
   <div class="navbar fixed-top navbar-dark  navbar-expand-md inner pt-4 ">
      <div class="container inner-container">
         <div class="logo container-logo ">
            <a aria-label="some link" rel="noopener" href="index.html" class="navbar-brand"><img src="https://azergold.gift/assets/images/header_logo.png?v=4" alt="logo" title=" "></a>
         </div>
         <button type="button" class="navbar-toggler mr-1 " data-toggle="collapse" aria-label="navigation"data-target=".navbar-collapse">
            <!--Toggler! Не toggle-->
            <span class="navbar-toggler-icon "></span>
         </button>
         <div class="navbar-collapse collapse ">
            <ul class="navbar-nav buttons ml-auto flex-column flex-md-row" >
               <li class="navbar-item" >
                  <a aria-label="some link" rel="noopener" href="https://www.facebook.com/azergold.gift/" target="_blank" >
                     <div class="btn__block fb text-center ">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                     </div>
                  </a>
               </li>
               <li class="navbar-item " >
                  <a aria-label="some link" rel="noopener" href="https://www.instagram.com/azergold.gift/" target="_blank">
                     <div class="btn__block ig text-center">
                        <i class="fa fa-instagram"></i>
                     </div>
                  </a>
               </li>
               <li class="navbar-item " >
                  <a aria-label="some link" rel="noopener" href="https://azergold.gift/menim-sebetim" target="_blank">
                     <div class="btn__block basket">
                         <i class="fal fa-shopping-cart "></i>
                     </div>
                  </a
                     >
               </li>
               <li class="navbar-item ">
                  <a aria-label="some link" rel="noopener" href="about.html" class="haqqimizda__header">Haqqımızda</a>
               </li>
               <li class="navbar-item ">
                  <a aria-label="some link" rel="noopener" href="contacts.html" class="elaqe__header">Əlaqə
                  </a>
               </li>
            </ul>
            <div class="dropdown lang">
               <button class="btn dropdown-toggle lang-toggle" type="button" id="dropdownMenuButtons" data-toggle="dropdown" arial-label="AZ" aria-haspopup="true" aria-expanded="true" >
               AZ
               </button>
               <div class="dropdown-menu lang-menu mt-n2 pt-n2 ml-n2 overflow-hidden" aria-label="languages" aria-labelledby="dropdownMenuButton" >
                  <a aria-label="some link" class="dropdown-item"  rel="noopener" href="#" >EN</a>
                  <a aria-label="some link" class="dropdown-item" rel="noopener" href="#">RU</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>